<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Manrope%3Awght%40400%3B500%3B700%3B800&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-[#171f14] dark group/design-root overflow-x-hidden" style='font-family: Manrope, "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        <header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#2f402b] px-10 py-3">
          <div class="flex items-center gap-4 text-white">
            <div class="size-4">
              <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M44 4H30.6666V17.3334H17.3334V30.6666H4V44H44V4Z" fill="currentColor"></path></svg>
            </div>
            <h2 class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">Trading Insights</h2>
          </div>
          <div class="flex flex-1 justify-end gap-8">
            <div class="flex items-center gap-9">
              <a class="text-white text-sm font-medium leading-normal" href="{{ url_for('index') }}">AI Analysis</a>
              <a class="text-green-200 text-sm font-medium leading-normal text-bold" href="info.html">Info</a>
              <a class="text-white text-sm font-medium leading-normal" href="#">Analysis</a>
              <a class="text-white text-sm font-medium leading-normal" href="#">Community</a>
            </div>
            <button
              class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 bg-[#2f402b] text-white gap-2 text-sm font-bold leading-normal tracking-[0.015em] min-w-0 px-2.5"
            >
              <div class="text-white" data-icon="Bell" data-size="20px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                  <path
                    d="M221.8,175.94C216.25,166.38,208,139.33,208,104a80,80,0,1,0-160,0c0,35.34-8.26,62.38-13.81,71.94A16,16,0,0,0,48,200H88.81a40,40,0,0,0,78.38,0H208a16,16,0,0,0,13.8-24.06ZM128,216a24,24,0,0,1-22.62-16h45.24A24,24,0,0,1,128,216ZM48,184c7.7-13.24,16-43.92,16-80a64,64,0,1,1,128,0c0,36.05,8.28,66.73,16,80Z"
                  ></path>
                </svg>
              </div>
            </button>
            <div
              class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
              style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAxNu84-bhVa2rIh-eFam-678wX09T36ZBHFXw_AW9j7Smqg05DDTkOmb9G5dARg0Us8-RQFqn-eeU96dReWlmDjaK_QnpH2ipmNbDHO4MwfqLy-vFhcMJxdvhRBM1lYtVGN8nRAAg2ZhLthAgCgq05Q0JFbs8iqoUOwFQpAZcXwak-rpAlIeYuQjjftm0qvN8Upye1dQbiq0neD1dejx3LE367N35TnTkGIFG1YiR7GD0jOnosdQLKV-iqk3TVaNNRKraiYaI7OdY");'
            ></div>
          </div>
        </header>
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4">
              <p class="text-white tracking-light text-[32px] font-bold leading-tight min-w-72">Technical Analysis Indicators</p>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl">
                <div class="flex flex-col gap-1 flex-[2_2_0px]">
                  <p class="text-white text-base font-bold leading-tight">Exponential Moving Average (EMA)</p>
                  <p class="text-[#a4be9d] text-sm font-normal leading-normal">
                    EMA gives more weight to recent prices, making it more responsive to new information than SMA. It's used to identify trends and potential support/resistance
                    levels.
                  </p>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBmTG8PVuaR3d9Q0fFajO942phZg-tmW_5RHRaY5zsctiPiVsq0rqOOoOTKP0PCTBf4LLjryecTfgTCtEfulYQaYBWe5pDEivvn6vdzRx_frBFmygGOgySz_kXR6fUky2hLw9CKqivgbJTsj77ihOB69ffiownlg4A7VYAmU4D7bnUCaSaWE0ZyXpUZ-tRp8XO68U7rI-qT5ns7hrp2ari1MKTDzBTBEqZVLUd03t26L5c2ExcUKiffGzByM4jGhTtb3PlspNoDOmA");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl">
                <div class="flex flex-col gap-1 flex-[2_2_0px]">
                  <p class="text-white text-base font-bold leading-tight">Simple Moving Average (SMA)</p>
                  <p class="text-[#a4be9d] text-sm font-normal leading-normal">
                    SMA calculates the average price over a specific period. It smooths out price data to identify the direction of a trend.
                  </p>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuB6Qz9YzZd_yU1_8E8oSgm3RQ6b60RNdwlu6jO276iFMyn71ML8-BJ0dLmNm4Q4QCeAuHNAzAcfgY_H4syF_6hCJQlLnA3zi1HaKODSxg0GW2BiSes3y1FkZK2T8UPZzZN6epZQJ0osaWDsB0jgU7MZjSs6NTjnwycQbR7nMIwcqxuMXmBztCV7-u_Z6QDR4WAaWjyNBohI_rr5YWeQdveST6mEWyEb0OflK6J4vaTrM9Kxzn3762XEqIPzlxgAcxl8G2o0NlCkRqs");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl">
                <div class="flex flex-col gap-1 flex-[2_2_0px]">
                  <p class="text-white text-base font-bold leading-tight">Relative Strength Index (RSI)</p>
                  <p class="text-[#a4be9d] text-sm font-normal leading-normal">
                    RSI measures the speed and change of price movements to identify overbought or oversold conditions. Values above 70 suggest overbought, while below 30 suggest
                    oversold.
                  </p>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBaJDl1JPnx3h946iNp3bkGbLoxNmMgDtQwC2Mp00GNiLL5xrLp0sBuF51BCGj0RVOETNtgVtFXXMvSSERPq2cX3_6-RvLJVKTA7EQDC4SCWy15Qq38YlxIyE_yac9SlRwZXaLf8Q8WcfoXNOMdPY8DsyR2vIrqm-fr_2T4WAzVRs35bz9cxVsEpraa8RLToQfEO4pVFk1l0Ls7muB6M77qeZdfwXo0xT6xvmhDMcCcuecuWWCQMqvOEVrW6ytN4yLe27xRQnv3PcA");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl">
                <div class="flex flex-col gap-1 flex-[2_2_0px]">
                  <p class="text-white text-base font-bold leading-tight">Average True Range (ATR)</p>
                  <p class="text-[#a4be9d] text-sm font-normal leading-normal">
                    ATR measures market volatility by averaging the range between high and low prices over a period. Higher ATR indicates increased volatility.
                  </p>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuC_0pCxeAM5YRwRUuVJnvt89g3eEdeGLZ0vZ8NdVCkKJp3yPQT039XfxjvaTs01V1OPttW3VlFCT5nLNkvdNXmRbRdVLlzsmuqfrYs6KiUXinDktwWtyCOWAeLSYx5X0TgTMO1JxN7ZsysPqMhSHKDm4Fs1xbztf-KTjJLxTOAJSxpzzuZtoA4Gr6DJK5QvqJr8g_QDipml1G3Fr9AH4TnSrG-93aF_q8prIyh4xBAnoJ-coa6CgiN6xiAXZZRXklPxcdHTMQbsRB0");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl">
                <div class="flex flex-col gap-1 flex-[2_2_0px]">
                  <p class="text-white text-base font-bold leading-tight">Moving Average Convergence Divergence (MACD)</p>
                  <p class="text-[#a4be9d] text-sm font-normal leading-normal">
                    MACD shows the relationship between two EMAs. It's used to identify potential buy/sell signals when the MACD line crosses the signal line.
                  </p>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBZ4uY1HqARXyl4JjW_QXw14PP7AVz8a5QknzDi__P-AmtgsSiVCvMXAYdM--qWvLH7YYKiRjkKsbn-dg7apBs77aDUK6dYR9ckIcBolEjOB-2vOr6pLBRAOHzwdSZoxMfr2cCEhc1B5RtUH6ujNSNQF_EesYrSB24DkrOzLRUy411vHbE5LuZS1UXy-pREfo0EQiWKsyib6zcPNbYx957IZMXTA9_j7drAfrXj17SjToW7nHrFZlQbP1YUTqNV1wQtk0ogHbYuHYg");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl">
                <div class="flex flex-col gap-1 flex-[2_2_0px]">
                  <p class="text-white text-base font-bold leading-tight">Signal Indicators</p>
                  <p class="text-[#a4be9d] text-sm font-normal leading-normal">
                    Signal indicators provide buy or sell signals based on various technical analysis methods. They help traders make informed decisions about entering or exiting
                    trades.
                  </p>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBMqMn1OImYMhTDfuPVtqlzN3XzeZkk8ig34QHtRQFSkGbt9ebxi3yAFIc26mjMKKN_l_GShkNC8NidbOp0yupS2l1SDfv2OZ2vVDziXY3Fwg4NLfOWCKFMWWgOy1fiUZLgDSg9LYwCFvnUlHeWtdanHvE9VRz4v8UxG6GPffQa33z1fFmCFB3IooQqSIn4qQgVv6_GKaPPNju1qr2EHSUGNuCYuiuL0fkEFFNxjUJRdfec0oXuJVGWXMqi-wRsfwj6dgX4h_GZvPw");'
                ></div>
              </div>
            </div>
            <div class="p-4">
              <div class="flex items-stretch justify-between gap-4 rounded-xl">
                <div class="flex flex-col gap-1 flex-[2_2_0px]">
                  <p class="text-white text-base font-bold leading-tight">Volatility Indicators</p>
                  <p class="text-[#a4be9d] text-sm font-normal leading-normal">
                    Volatility indicators measure the degree of price fluctuation. They help traders understand market risk and adjust their trading strategies accordingly.
                  </p>
                </div>
                <div
                  class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuB44z7Ql3kD0vYIzy3RRuHtKZkul_MjzkLVS_lAOupsSESPwyLmBj6bQDzcbgOuQGilRKdpGlqZhhyc8uvH3BHfdmjDeypdaHciWx-Sm8SmG8oUGg0WCf8GiegFxwiaj46N4o_mLwoceRRPVc9e6_f1S0h49xequM-T_BjWw4VQStdJPhMk9CQ4VZbgc_nstFH-PjAzWgJBygPOhQrt1skp0-UzPyv4pBUFImjfG2q-DlbTpjZybk9I8DFn_Wij2bRRzZ75fqHNPJU");'
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
